body {
    margin: 0;
    padding: 0;
    font-family:  sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background-image: url('img/nen1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events: none;
    background: radial-gradient(circle at center, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.5) 70%);
}
.container {
    margin-top: 140px;
    text-align: center;
    padding: 100px 50px;     
    background: rgba(0,0,0,0.7); 
    border-radius: 25px;
    max-width: 700px;        
    width: 95%;
    margin-bottom: 50px;
    color: #fff;
    box-shadow: 0 0 30px rgba(255,0,0,0.6), 0 20px 50px rgba(0,0,0,0.4);
    border: 2px solid rgba(255,0,0,0.6);
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 20px;                
}

.game-btn {
    display: block;
    position: relative;      
    overflow: hidden;         
    padding: 20px 30px;
    font-size: 1.2rem;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(255,78,80,0.8), 0 8px 20px rgba(0,0,0,0.15);
    background: linear-gradient(45deg, #a50003, #e60000);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}


.navbar{position:fixed;top:18px;left:0;width:100%;z-index:200;display:flex;justify-content:center}
.navbar ul{display:flex;gap:28px;padding:10px 20px;background:transparent;list-style:none}
.navbar a{color:var(--accent);text-decoration:none;font-weight:600;font-size:20px;padding:8px 10px;border-radius:8px}
.navbar a.active, 
.navbar a:hover{background:rgba(197,191,101,0.08);color:#fff}



.back-btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    background: #ffef9c;
    color: #333;
    text-decoration: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 1.2rem; 
    box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}

.back-btn:hover {
    background: #ffe36c;
    transform: translateY(-2px);
}


.game-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 20px rgba(255,78,80,0.9), 0 10px 20px rgba(0,0,0,0.15);
}

.game-btn:active {
    transform: scale(0.98);
}

.game-btn::before {
    content:"";
    position:absolute;
    top:0; left: -100%;
    width:50%; height:100%;
    background: linear-gradient(120deg, rgba(255,255,255,0.4), rgba(255,255,255,0));
    transform: skewX(-25deg);
}

.game-btn:hover::before {
    animation: shine 1s forwards;
}

@keyframes shine {
    100% { left: 100%; }
}

